<!-- extends -->
{% extends 'base.html' %}
<!-- block title -->
{% block title %}Add Pet{% endblock %}
<!-- block content start-->
{% block content %}
<h1>New Pet</h1>
<form method="POST">
   {{ form.hidden_tag() }}
   <!-- add type=hidden form fields -->
   {% for field in form if field.widget.input_type != 'hidden' %}
   <!-- ignores the hidden fields on the actual page -->
   <div>
      <!-- showing label and field values for each form input -->
      {{field.label}} {{field}}
      <!-- displaying errors from the form -->
      {% for error in field.errors %} {{error}} {% endfor %}
   </div>
   {% endfor %}
   <button class="btn btn-success">Add Pet</button>
</form>
{% endblock %}
